<jhi-alert-error></jhi-alert-error>
<jhi-alert></jhi-alert>

@if (clientes?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span>Nenhum Cliente encontrado</span>
  </div>
}

<br /><br />

<mat-card class="mat-card-fieldset">
  <mat-card-header>
    <div class="mat-card-title-wrapper">
      <mat-card-title class="custom-title">Controle de Clientes</mat-card-title>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-card class="mat-card-fieldset">
      <form class="form">
        <div class="d-flex flex-wrap">
          <mat-form-field color="warn" class="mat-form-field">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Pesquisar por nome" />
          </mat-form-field>
          <mat-form-field color="warn" class="mat-form-field">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Ex. Pesquisar por CPF" />
          </mat-form-field>
          <mat-form-field color="warn" class="mat-form-field">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Ex. Pesquisar por telefone" />
          </mat-form-field>
          <mat-form-field color="warn" class="mat-form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. Pesquisar por email" />
          </mat-form-field>
        </div>
      </form>

      <mat-card-content class="mat-card-content d-flex flex-sm-column">
        <div class="d-flex flex-wrap justify-content-center justify-content-sm-start">
          <button class="button mb-2" mat-raised-button style="background-color: orangered; color: white">
            <fa-icon icon="search"></fa-icon>
            <span>Pesquisar</span>
          </button>

          <button
            class="button mb-2"
            mat-raised-button
            [routerLink]="['/cliente/new']"
            style="background-color: orangered; color: white"
            id="jh-create-entity"
            data-cy="entityCreateButton"
          >
            <fa-icon icon="plus"></fa-icon>
            <span>Novo</span>
          </button>

          <button
            class="button mb-2"
            mat-raised-button
            style="background-color: orangered; color: white"
            (click)="load()"
            [disabled]="isLoading"
          >
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span>Atualizar</span>
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="telefone1">
          <th mat-header-cell *matHeaderCellDef>Telefone (principal)</th>
          <td mat-cell *matCellDef="let element">{{ element.telefone1 }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>E-mail</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef>CPF</th>
          <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
        </ng-container>

        <ng-container matColumnDef="rg">
          <th mat-header-cell *matHeaderCellDef>RG</th>
          <td mat-cell *matCellDef="let element">{{ element.rg }}</td>
        </ng-container>

        <ng-container matColumnDef="nHabilidacao">
          <th mat-header-cell *matHeaderCellDef>Nº Habilitação</th>
          <td mat-cell *matCellDef="let element">{{ element.nHabilidacao }}</td>
        </ng-container>

        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="visualizar"
              mat-mini-fab
              matTooltip="Visualizar"
              [routerLink]="['/cliente', element.id, 'view']"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
            </button>

            <button
              mat-mini-fab
              matTooltip="Editar"
              color="primary"
              [routerLink]="['/cliente', element.id, 'edit']"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
            </button>

            <button mat-mini-fab matTooltip="Deletar" color="warn" (click)="delete(element)">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      color="warn"
      [pageSizeOptions]="[5, 10, 20]"
      [pageIndex]="pageIndex"
      [pageSize]="itemsPerPage"
      [length]="totalItems"
      (page)="refreshPaginator($event)"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
